.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item .page-link {
    color: #1A2035;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #1A2035;
    border-color: #1A2035;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination .page-link:hover {
    color: #fff;
    background-color: #1A2035;
    border-color: #1A2035;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 50%;
    padding: 0.5rem 0.75rem;
}